.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: var(--custom-cream);
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-close-icon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  color: var(--custom-navy);
  font-size: 30px;
}

.menu-logo-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.menu-logo-icon {
  cursor: pointer;
  color: var(--custom-gold);
  font-size: 65px;
  font-family: "Bigola Display";
}

.menu-links-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-logo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-link-item-holder {
  position: relative;
  text-align: center;
}

.menu-link-item-holder a {
  color: var(--custom-navy);
  font-size: 80px;
  font-family: "Bigola Display";
  text-decoration: none;
  line-height: 85%;
}

.menu-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.menu-info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--custom-gold);
  width: 50%;
}

.menu-info-row svg {
  height: 60px;
  width: 60px;
}

.menu-login-icon {
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  color: var(--custom-navy);
  font-size: 30px;
}

@media (max-width: 900px) {
  .menu-overlay {
    flex-direction: column;
  }

  .menu-logo-icon {
    //display: none;
  }

  .links-container {
    padding-top: 8em;
  }

  .menu-link-item-holder a {
    font-size: 60px;
  }

  .menu-info-row {
    width: 40%;
  }

  .menu-info-row svg {
    height: 40px;
    width: 40px;
  }

  .menu-login-icon {
    bottom: 15px;
    right: 25px;
  }
}
