@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-white: #f4f4f4;
  --custom-navy: #234055;
  --custom-cream: #dfcfc0;
  --custom-gold: #bc9952;
}

@media (prefers-color-scheme: dark) {
  :root {
    --custom-white: #f4f4f4;
    --custom-navy: #234055;
    --custom-cream: #dfcfc0;
    --custom-gold: #bc9952;
  }
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir.ttc") format("truetype-collection");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bigola Display" format("opentype");
  src: url("/fonts/BigolaDisplay-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--custom-white);
  background: var(--custom-navy);
  .h1 {
    font-family: "Bigola Display";
  }
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
