@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-white: #f4f4f4;
  --custom-navy: #244154;
  --custom-cream: #dfcfc0;
  --custom-gold: #a98541;
}

@media (prefers-color-scheme: dark) {
  :root {
    --custom-white: #f4f4f4;
    --custom-navy: #234055;
    --custom-cream: #dfcfc0;
    --custom-gold: #bc9952;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir.ttc") format("truetype-collection");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bigola Display";
  src: url("/fonts/Bigola-Display-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hypatia Sans Pro";
  src: url("/fonts/Hypatia-Sans-Pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hypatia Sans Pro Bold";
  src: url("/fonts/Hypatia-Sans-Pro-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hypatia Sans Pro Semibold";
  src: url("/fonts/Hypatia-Sans-Pro-Semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hypatia Sans Pro Light";
  src: url("/fonts/Hypatia-Sans-Pro-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("/fonts/FunnelDisplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--custom-white);
  background: black;
}

input,
textarea,
select {
  border-radius: 0;
  text-align: left;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: left;
  svg {
    display: none;
  }
}

select {
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  -webkit-appearance: none;
  appearance: none;
}

body.menu-open {
  overflow: hidden;
  background: var(--custom-cream);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  input,
  textarea,
  select {
    font-size: 16px; /* Prevents zoom on iOS */
  }
}
